PROFILE="<profile>"
SPRING_DATABASE_URL="jdbc:postgresql://<host>:<port>/<database>"
SPRING_DATABASE_USERNAME="<username>"
SPRING_DATABASE_PASSWORD="<password>"
SECURITY_JWT_ISSUE="<issuer_email>"
SECURITY_ACCESS_TOKEN_SECRET="<access_token_secret>"
SECURITY_ACCESS_TOKEN_EXPIRE_TIME="<access_token_expire_time>" # in seconds
SECURITY_REFRESH_TOKEN_SECRET="<refresh_token_secret>"
SECURITY_ACCESS_REFRESH_EXPIRE_TIME="<access_refresh_expire_time>" # in seconds
